<template>
  <div class="layerPop" v-if="show" :id="id">
    <div class="popContent">
      <button type="button" class="btnClose" @click="$emit('closepop', id)">X</button>
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props:{
    show : [Boolean],
    id : [String]
  },
}
</script>
<style>
.layerPop{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);}
.popContent{position:absolute;top:50%;left:50%;padding:40px 20px 20px;background-color:#fff;border-radius:10px;transform:translate(-50%,-50%);}
.btnClose{position:absolute;top:5px;right:20px;padding:5px 10px;}
.btnClose:hover{background-color:#eee;}
</style>