<template>
  <div class="layout">
    <slot name="footer"></slot>
    <slot name="content" :user="user"></slot>
    <slot name="header"></slot>
  </div>
</template>
<script>
  export default{
    data(){
      return{
        user:{
          name:'parkeunjoung',
          age:30,
          address:'seongnam'
        }
      }
    }
  }
</script>
<style>
.header{height:200px;padding:20px;background-color:#33cb23;}
.content{height:400px;padding:20px;background-color:#cbbd23;margin:10px 0;}
.footer{height:100px;padding:20px;background-color:#9223cb;}
</style>