<template>
  <div>
    <ul class="l_infoList">
      <slot></slot>
    </ul>
  </div>
</template>
<script>
export default {
  
}
</script>
<style scoped>
.l_infoList{margin:20px 0;text-align:left;}
.l_infoList > li{position:relative;margin:8px 0;padding-left:10px;font-size:1.1rem;line-height:1.5rem;color:#787878;font-weight:400;}
.l_infoList > li:before{position:absolute;top:7px;left:0;content:"";width:2px;height:2px;background-color:#000;}
.l_infoList > li strong{font-weight:400;color:#2469f2;}
.l_infoList > li a{text-decoration:underline;}
</style>
