<template>
  <div>
    <ul class="l_infoList">
      <slot></slot>
    </ul>
  </div>
</template>
<script>
export default {
  
}
</script>
<style scoped>
.l_infoList li{position:relative;margin:6px 0;padding-left:11px;font-size:1.4rem;line-height:2rem;}
.l_infoList li:before{position:absolute;top:50%;left:0;width:4px;height:4px;content:"";background-color:#2b2b2b;border-radius:5px;transform:translate(0,-2px);}
</style>