.wrap{display:flex;height:100%;}

/* Layout */
nav{width:300px;padding:20px;background-color:#ededed;}
nav > ul > li{margin-bottom:10px;font-size:1.4rem;}
.contents{width:calc(100% - 300px);padding:20px;}


/* button type */
.button{margin-right:10px;padding:0 15px;height:40px;line-height:40px;font-size:1.8rem;color:#fff;text-align:center;letter-spacing:-0.5px;border-radius:3.6rem;background-color:#3e588d;}
.button[disabled]{background-color:#c0c0c0;}
.button.icon{padding-left:30px;background-repeat:no-repeat;background-position: 10px 50%;background-size:16px auto;}
.confirm{background-image:url('../../assets/icon_confirm_w.svg');}
.list{background-image:url('../../assets/btn_ic_compare.svg');}

/* checkbox type */
/* checkbox - normal */
.l_checkbox{position:relative;display:inline-block;margin-right:10px;padding-left:2.8rem;line-height:2rem;}
.l_checkbox label{display:inline-block;color:#000;vertical-align:top;font-size:1.6rem;}
.l_checkbox label::before{position:absolute;top:50%;left:0;width:1.8rem;height:1.8rem;content:"";border:2px solid #3e588d;border-radius:2px;box-sizing:border-box;transform:translateY(-50%);}
.l_checkbox label::after{box-sizing:border-box;}
.l_checkbox input[type="checkbox"]:checked + label::before{background-color:#3e588d;}
.l_checkbox input[type="checkbox"]:checked + label::after{position:absolute;top:calc(50% - 4px);left:8px;width:8px;height:9px;content:"";border-left:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(-40deg) translateY(-50%);}
.l_checkbox input[disabled] + label{color:#c0c0c0;}
.l_checkbox input[disabled] + label::before{border-color:#ddd;background-color:#eee;}
.l_checkbox input[disabled]:checked + label::before{border-color:#ddd;background-color:#ddd;}
.l_checkbox input[disabled]:checked + label::after{border-color:#fff;}

/* checkbox - round */
.l_rndChk{display:inline-block;height:3.6rem;margin-right:10px;}
.l_rndChk label{display:inline-block;height:3.6rem;padding:0 10px;border:1px solid #9caac7;color:#9caac7;border-radius:1.8rem;font-size:1.4rem;font-weight:300;line-height:3.4rem;text-align:center;}
.l_rndChk label.logoTyp{width:9.766vw;}
.l_rndChk input[disabled] + label{border:1px solid #eaeaea;background-color:#fafafa;color:#c0c0c0;}
.l_rndChk input[type="checkbox"]:checked + label{border:2px solid #3e588d;font-weight:500;color:#3e588d;line-height:3.2rem}
.l_rndChk label > img{height:2.2rem;margin-top:5px;vertical-align:top;}

/* Layer Popup */
.layerPop{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);}
.popContent{position:absolute;top:50%;left:50%;padding:40px 20px 20px;background-color:#fff;border-radius:10px;transform:translate(-50%,-50%);}
.btnClose{position:absolute;top:5px;right:20px;padding:5px 10px;}
.btnClose:hover{background-color:#eee;}

/* Information */
.l_infoList1 li{position:relative;margin:6px 0;padding-left:11px;font-size:1.4rem;line-height:2rem;}
.l_infoList1 li:before{position:absolute;top:50%;left:0;width:4px;height:4px;content:"";background-color:#2b2b2b;border-radius:5px;transform:translate(0,-2px);}
.l_infoList2{margin:20px 0;text-align:left;}
.l_infoList2 > li{position:relative;margin:8px 0;padding-left:10px;font-size:1.1rem;line-height:1.5rem;color:#787878;font-weight:400;}
.l_infoList2 > li:before{position:absolute;top:7px;left:0;content:"";width:2px;height:2px;background-color:#000;}
.l_infoList2 > li strong{font-weight:400;color:#2469f2;}
.l_infoList2 > li a{text-decoration:underline;}

fieldset{display:block;margin-bottom:20px;}
form{margin-bottom:10px;padding:20px;border:1px solid #ddd;}
.btn-group{display:flex;justify-content:flex-end;}
.popup{width:300px;height:300px;background-color:#eef3b8;justify-content:center;align-items:center;}