<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/ui.css">
    <script src="./js/vue.min.js"></script>
    <title>기존 작업방식</title>
  </head>
  <body>
    <div class="wrap" id="app">
      <!-- 네비게이션 -->
      <nav>
        <ul>
          <li><a href="#">Button</a></li>
          <li><a href="#">Checkbox</a></li>
          <li><a href="#">Scoped</a></li>
          <li><a href="#">Slot</a></li>
          <!-- <li><a href="#">Styled-components</a></li> -->
          <li><router-link to="/puzzle">Example1</router-link></li>
        </ul>
      </nav>
      <!-- // 네비게이션 -->
      <!-- 컨텐츠 -->
      <div class="contents">
        <div class="puzzle_contents">
          <!-- 입력폼 -->
          <form>
            <fieldset>
              <legend>취미</legend>
              <span class="l_checkbox">
                <input type="checkbox" name="checkbox01" id="checkbox01" checked class="hidden">
                <label for="checkbox01">수영</label>
              </span>
              <span class="l_checkbox">
                <input type="checkbox" name="checkbox02" id="checkbox02" checked class="hidden">
                <label for="checkbox02">농구</label>
              </span>
              <span class="l_checkbox">
                <input type="checkbox" name="checkbox03" id="checkbox03" checked class="hidden">
                <label for="checkbox03">자전거</label>
              </span>
              <span class="l_checkbox">
                <input type="checkbox" name="checkbox04" id="checkbox04" checked class="hidden">
                <label for="checkbox04">등산</label>
              </span>
            </fieldset>
            <fieldset>
              <legend>검색지역</legend>
              <span class="l_rndChk">
                <input type="checkbox" name="checkbox05" id="checkbox05" checked class="hidden">
                <label for="checkbox05">수영</label>
              </span>
              <span class="l_rndChk">
                <input type="checkbox" name="checkbox06" id="checkbox06" checked class="hidden">
                <label for="checkbox06">농구</label>
              </span>
              <span class="l_rndChk">
                <input type="checkbox" name="checkbox07" id="checkbox07" checked class="hidden">
                <label for="checkbox07">자전거</label>
              </span>
              <span class="l_rndChk">
                <input type="checkbox" name="checkbox08" id="checkbox08" checked class="hidden">
                <label for="checkbox08">등산</label>
              </span>
            </fieldset>
            <div class="btn-group">
              <button class="button" id="button01" class="button">전송</button>
            </div>
            <ul class="l_infoList1">
              <li>참여자 승인처리 결과를 광고 콘텐츠별로 조회할 수 있습니다.</li>
              <li>조회는 최근 광고 게시일 순으로 노출됩니다.</li>
            </ul>
          </form>
          <!-- // 입력폼 -->
          <!-- 팝업 -->
          <button class="button" id="button01" @click="openPop('layer1')" class="button">팝업열기</button>
          <div class="layerPop" v-if="layer1" id="layer1">
            <div class="popContent">
              <button type="button" class="btnClose" @click="closepop('layer1')">X</button>
              <div class="popup">
                팝업내용1
                <ul class="l_infoList2">
                  <li>장기 부재의 <strong>사유로 신고 접수할</strong> 경우, 해당 연락처에 통화를 시도한 일시를 함께 기재하여 주시기 바랍니다.</li>
                  <li>어뷰징 의심 신고만으로 접수 건이 무효 처리되지 않습니다. 신고와 별도로 유·무효 확정을 하시기 바랍니다.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 팝업 -->
        </div>
      </div>
      <!-- // 컨텐츠 -->
    </div>
    <script>
      Vue.config.devtools=true;
      new Vue({
        el:'#app',
        data(){
          return{
            layer1:false
          }
        },
        methods:{
          openPop(_target){
            this[_target] = true;
          },
          closepop(_target){
            this[_target] = false;
          }
        }
      });
    </script>
  </body>
</html>
