<template>
  <nav>
    <ul>
      <li><router-link to="/button">Button</router-link></li>
      <li><router-link to="/checkbox">Checkbox</router-link></li>
      <li><router-link to="/scoped">Scoped</router-link></li>
      <li><router-link to="/slot">Slot</router-link></li>
      <!-- <li><router-link to="/stylecmp">Styled-components</router-link></li> -->
      <li><router-link to="/puzzle">Example1</router-link></li>
    </ul>
  </nav>
</template>
<script>
export default {
  
}
</script>
<style>
nav{width:300px;padding:20px;background-color:#ededed;}
nav > ul > li{margin-bottom:10px;font-size:1.4rem;}
</style>
