<template>
  <div>
    <h2>이벤트 처리</h2>
    <div class="example">
      <Mbutton type="button" id="button01" @onclick="clickFunc1">버튼1</Mbutton>
      <Mbutton type="button" id="button02" @onclick="clickFunc2">버튼2</Mbutton>
    </div>
    <h2>disabled 유형</h2>
    <div class="example">
      <Mbutton type="button" id="button03" @onclick="clickFunc2" disabled>버튼3</Mbutton>
    </div>
    <h2>아이콘 유형</h2>
    <div class="example">
      <Mbutton type="button" id="button04" img="confirm">버튼4</Mbutton>
      <Mbutton type="button" id="button05" img="list">버튼5</Mbutton>
    </div>
  </div>
</template>
<script>
import Mbutton from '@/components/forms/button.vue';
export default {
  components:{
    Mbutton
  },
  methods:{
    clickFunc1(){
      alert('버튼1');
    },
    clickFunc2(){
      alert('버튼2');
    }
  }
}
</script>
