<template>
  <div>
    <h2>레이블이 없는 유형</h2>
    <div class="example">
      <Mcheckbox name="checkbox01" id="checkbox01" type="default" label="false" checked>체크박스1</Mcheckbox>
    </div>
    <h2>레이블이 있는 유형</h2>
    <div class="example">
      <Mcheckbox name="checkbox02" id="checkbox02" type="default" label="true" checked>체크박스2</Mcheckbox>
    </div>
    <h2>disabled 유형</h2>
    <div class="example">
      <Mcheckbox name="checkbox03" id="checkbox03" type="default" label="true" disabled>체크박스3</Mcheckbox>
    </div>
    <h2>라운드 유형</h2>
    <div class="example">
      <Mcheckbox name="checkbox04" id="checkbox04" type="round" label="true" checked>체크박스4</Mcheckbox>
    </div>
    <h2>라운드 &amp; disabeld 유형</h2>
    <div class="example">
      <Mcheckbox name="checkbox04" id="checkbox04" type="round" label="true" disabled>체크박스4</Mcheckbox>
    </div>
  </div>
</template>
<script>
import Mcheckbox from '@/components/forms/checkbox.vue';
export default {
  components:{
    Mcheckbox
  }  
}
</script>
