<template>
  <div class="wrap">
    <Left></Left>
    <Contents></Contents>
  </div>
</template>
<script>
import Left from '@/components/layout/left.vue';
import Contents from '@/components/layout/contents.vue';
export default {
  components:{
    Left,
    Contents
  }  
}
</script>
<style>
.wrap{display:flex;height:100%;}
</style>
