<template>
  <div class="puzzle_contents">
    <form>
      <fieldset>
        <legend>취미</legend>
        <Mcheckbox name="checkbox01" id="checkbox01" type="default" label="true" checked>수영</Mcheckbox>
        <Mcheckbox name="checkbox02" id="checkbox02" type="default" label="true" checked>농구</Mcheckbox>
        <Mcheckbox name="checkbox03" id="checkbox03" type="default" label="true" checked>자전거</Mcheckbox>
        <Mcheckbox name="checkbox04" id="checkbox04" type="default" label="true" checked>등산</Mcheckbox>
      </fieldset>
      <fieldset>
        <legend>검색지역</legend>
        <Mcheckbox name="checkbox05" id="checkbox05" type="round" label="true" checked>중구</Mcheckbox>
        <Mcheckbox name="checkbox06" id="checkbox06" type="round" label="true" checked>용산구</Mcheckbox>
        <Mcheckbox name="checkbox07" id="checkbox07" type="round" label="true" checked>광진구</Mcheckbox>
        <Mcheckbox name="checkbox08" id="checkbox08" type="round" label="true" checked>강남구</Mcheckbox>
      </fieldset>
      <div class="btn-group">
        <Mbutton type="button" id="button01">전송</Mbutton>
      </div>
      <List1>
        <li>참여자 승인처리 결과를 광고 콘텐츠별로 조회할 수 있습니다.</li>
        <li>조회는 최근 광고 게시일 순으로 노출됩니다.</li>
      </List1>
    </form>
    <Mbutton type="button" id="button01" @onclick="openPop('layer1')">팝업열기</Mbutton>
    <Layer :show="layer1" id="layer1" @closepop="closePop">
      <div class="popup">
        팝업내용1
        <List2>
          <li>장기 부재의 <strong>사유로 신고 접수할</strong> 경우, 해당 연락처에 통화를 시도한 일시를 함께 기재하여 주시기 바랍니다.</li>
          <li>어뷰징 의심 신고만으로 접수 건이 무효 처리되지 않습니다. 신고와 별도로 유·무효 확정을 하시기 바랍니다.</li>
        </List2>
      </div>
    </Layer>

		<div class="tablewrap">
			<div class="tablearea">
				<p class="st">&lt;Table <strong>:info="tabledata1" :thtxt="['no', 'title']"</strong>&gt;&lt;/Table&gt;</p>
				<Table :info="tabledata1" :thtxt="['no', 'title']"></Table>

				<p class="st">&lt;Table <strong>:info="tabledata2" :thtxt="['id', 'title', 'date']"</strong>&gt;&lt;/Table&gt;</p>
				<Table :info="tabledata2" :thtxt="['id', 'title', 'date']"></Table>

			</div>
		</div>
  </div>
</template>
<script>
import Mbutton from '@/components/forms/button.vue';
import Mcheckbox from '@/components/forms/checkbox.vue';
import List1 from '@/components/list/scoped_type1.vue';
import List2 from '@/components/list/scoped_type2.vue';
import Layer from '@/components/layer/layer.vue';
import Table from "@/components/table/Table.vue"

  export default {
    data(){
      return{
        layer1 : false,

				tabledata1:[
					{ no:"1", title:"table1-1" },
					{ no:"2", title:"table1-2" },
					{ no:"3", title:"table1-3" },
					{ no:"4", title:"table1-4" },
					{ no:"5", title:"table1-5" },
					{ no:"6", title:"table1-6" },
					{ no:"7", title:"table1-7" },
				],
				tabledata2:[
					{ id:"rich1", title:"richtable-1", date:"2020/11/02" },
					{ id:"rich2", title:"richtable-2", date:"2020/11/03" },
					{ id:"rich3", title:"richtable-3", date:"2020/11/04" },
					{ id:"rich4", title:"richtable-4", date:"2020/11/05" },
					{ id:"rich5", title:"richtable-5", date:"2020/11/06" },
					{ id:"rich6", title:"richtable-6", date:"2020/11/07" },
					{ id:"rich7", title:"richtable-7", date:"2020/11/08" },
				]
      }
    },
    components:{
      Mbutton,
      Mcheckbox,
      List1,
      List2,
      Layer,
			Table
    },
    methods:{
      openPop(_target){
        this[_target] = true;
      },
      closePop(_target){
        this[_target] = false;
      },

			table1(){
				console.log("table1");
			}
    }
  }
</script>
<style>
fieldset{display:block;margin-bottom:20px;}
form{margin-bottom:10px;padding:20px;border:1px solid #ddd;}
.btn-group{display:flex;justify-content:flex-end;}
.popup{width:300px;height:300px;background-color:#eef3b8;justify-content:center;align-items:center;}
.tablewrap,
.tablearea{margin-top:1rem;}
.st{margin-top:1rem;font-size:1.5rem;}
.st strong{font-size:1.8rem;font-weight:bold;color:rgb(155, 3, 3);}
</style>