<template>
  <div>
    <h2>scoped 속성으로 css충돌 방지</h2>
    <div class="example">
      <List1>
        <li>참여자 승인처리 결과를 광고 콘텐츠별로 조회할 수 있습니다.</li>
        <li>조회는 최근 광고 게시일 순으로 노출됩니다.</li>
      </List1>
      <List2>
        <li>장기 부재의 <strong>사유로 신고 접수할</strong> 경우, 해당 연락처에 통화를 시도한 일시를 함께 기재하여 주시기 바랍니다.</li>
        <li>어뷰징 의심 신고만으로 접수 건이 무효 처리되지 않습니다. 신고와 별도로 유·무효 확정을 하시기 바랍니다.</li>
      </List2>
    </div>
  </div>
</template>
<script>
import List1 from '@/components/list/scoped_type1.vue';
import List2 from '@/components/list/scoped_type2.vue';
export default {
  components:{
    List1,
    List2,
  }  
}
</script>
<style>

</style>