<template>
  <div>
    <Structure>
      <template v-slot:header>
        <div class="header">header</div>
      </template>
      <template v-slot:content="{user}">
        <div class="content">
          contents<br><br><br>
          <h3>[사용자정보]</h3><br>
          <p><strong>이름 : </strong>{{user.name}}</p>
          <p><strong>나이 : </strong>{{user.age}}</p>
          <p><strong>주소 : </strong>{{user.address}}</p>
        </div>
      </template>
      <template v-slot:footer>
        <div class="footer">footer</div>
      </template>
    </Structure>
    <Layer :show="layer1" id="layer1" @closepop="closePop">
      <div class="popup">
        팝업내용1
      </div>
    </Layer>
    <Layer :show="layer2" id="layer2" @closepop="closePop">
      <div class="popup2">
        팝업내용2
      </div>
    </Layer>
  </div>
</template>
<script>
import Layer from '@/components/layer/layer.vue';
import Structure from '@/components/layer/structure.vue';
export default {
  data(){
    return{
      layer1 : true,
      layer2 : true,
    }
  },
  components:{
    Layer,
    Structure
  },
  methods:{
    closePop(_target){
      this[_target] = false;
    }
  }
}
</script>
<style scoped>
.popup{width:300px;height:300px;background-color:#eef3b8;justify-content:center;align-items:center;}
.popup2{width:400px;height:600px;background-color:#bdf3b8;justify-content:center;align-items:center;}
</style>