<template>
  <div>
    <h2>이벤트 처리</h2>
    <div class="example">
      <Mbutton2 type="button" id="button01" @onclick="clickFunc1">Styled Components 버튼1</Mbutton2>
      <Mbutton2 type="button" id="button02">Styled Components 버튼1</Mbutton2>
    </div>
    <h2>disabled 유형</h2>
    <div class="example">
      <Mbutton2 type="button" id="button03" disabled>Styled Components 버튼2</Mbutton2>
    </div>
    <h2>아이콘 유형</h2>
    <div class="example">
      <Mbutton2 type="button" id="button04" img="confirm">버튼4</Mbutton2>
      <Mbutton2 type="button" id="button05" img="list">버튼5</Mbutton2>
    </div>
    <h2>태크유형 변경 - A태그에 스타일 상속</h2>
    <div class="example">
      <Mbutton2 type="a" href="/button" id="button04" img="confirm" @click.native.prevent @onclick="clickFunc1">앵커 1</Mbutton2>
      <Mbutton2 type="a" href="/button" id="button05" img="list" @onclick="clickFunc2">앵커 2</Mbutton2>
    </div>
  </div>
</template>
<script>
import Mbutton2 from '@/components/stylecmp/stylecmp.vue';
export default {
  components:{
    Mbutton2,
  },
  methods:{
    clickFunc1(){
      alert('버튼1');
    },
    clickFunc2(){
      alert('버튼2');
    }
  }
}
</script>
