<template>
  <div class="tablevue">
		<table>
			<thead>
				<tr>
					<th scope="col" v-for="(list, key) in thtxt" :key="key">{{list}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(list, key) in info" :key="key">
					<td v-for="(list2,key2) in thtxt" :key="key2">{{list[list2]}}</td>
				</tr>
			</tbody>
		</table>
  </div>
</template>
<script>
export default {
	props:{
		info:Array,
		thtxt:Array,
	},
}
</script>
<style scoped>
	.tablevue+.tablevue{margin-top:1rem;}
	th,td{font-size:1.6rem;border:1px solid #444}
</style>