<template>
  <div id="app">
    <Container></Container>
  </div>
</template>

<script>
import Container from '@/views/container.vue';
export default {
  name: 'App',
  components: {
    Container
  }
}
</script>

<style>
#app{height:100%;}
</style>
