<template>
  <button class="button" :class="imgs" :type="type" :id="id" :disabled="disabled" @click="$emit('onclick')"><slot></slot></button>
</template>
<script>
export default {
  props:{
    type : String,
    id : String,
    disabled : Boolean,
    onclick : [Function, Object],
    img : [String]
  },
  data(){
    return{
      //이미지 유형
      imgs : {
        'confirm' : this.img == 'confirm', 
        'list' : this.img == 'list',
        'icon': this.img != undefined
      }
    }
  }
}
</script>
<style scoped>
  .button{margin-right:10px;padding:0 15px;height:40px;line-height:40px;font-size:1.8rem;color:#fff;text-align:center;letter-spacing:-0.5px;border-radius:3.6rem;background-color:#3e588d;}
  .button[disabled]{background-color:#c0c0c0;}
  .button.icon{padding-left:30px;background-repeat:no-repeat;background-position: 10px 50%;background-size:16px auto;}
  .confirm{background-image:url('../../assets/icon_confirm_w.svg');}
  .list{background-image:url('../../assets/btn_ic_compare.svg');}
</style>