<template>
  <span :class="typ">
    <input type="checkbox" :name="name" :id="id" :checked="checked" :disabled="disabled" class="hidden">
    <label :for="id" :class="{'hidden': label == 'false'}"><slot></slot></label>
  </span>
</template>
<script>
export default {
  props:{
    name : String, 
    id : String, 
    type : String,
    label : [String],
    checked : Boolean,
    disabled : Boolean
  },
  data(){
    return{
      typ : {
        'l_checkbox' : this.type == 'default', 
        'l_rndChk' : this.type == 'round'
      }
    }
  },

}
</script>
<style scoped>
span{margin-right:10px;}
/* checkbox - normal */
.l_checkbox{position:relative;display:inline-block;padding-left:2.8rem;line-height:2rem;}
.l_checkbox label{display:inline-block;color:#000;vertical-align:top;font-size:1.6rem;}
.l_checkbox label::before{position:absolute;top:50%;left:0;width:1.8rem;height:1.8rem;content:"";border:2px solid #3e588d;border-radius:2px;box-sizing:border-box;transform:translateY(-50%);}
.l_checkbox label::after{box-sizing:border-box;}
.l_checkbox input[type="checkbox"]:checked + label::before{background-color:#3e588d;}
.l_checkbox input[type="checkbox"]:checked + label::after{position:absolute;top:calc(50% - 4px);left:8px;width:8px;height:9px;content:"";border-left:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(-40deg) translateY(-50%);}
.l_checkbox input[disabled] + label{color:#c0c0c0;}
.l_checkbox input[disabled] + label::before{border-color:#ddd;background-color:#eee;}
.l_checkbox input[disabled]:checked + label::before{border-color:#ddd;background-color:#ddd;}
.l_checkbox input[disabled]:checked + label::after{border-color:#fff;}

/* checkbox - round */
.l_rndChk{display:inline-block;height:3.6rem;}
.l_rndChk label{display:inline-block;height:3.6rem;padding:0 10px;border:1px solid #9caac7;color:#9caac7;border-radius:1.8rem;font-size:1.4rem;font-weight:300;line-height:3.4rem;text-align:center;}
.l_rndChk label.logoTyp{width:9.766vw;}
.l_rndChk input[disabled] + label{border:1px solid #eaeaea;background-color:#fafafa;color:#c0c0c0;}
.l_rndChk input[type="checkbox"]:checked + label{border:2px solid #3e588d;font-weight:500;color:#3e588d;line-height:3.2rem}
.l_rndChk label > img{height:2.2rem;margin-top:5px;vertical-align:top;}
</style>