<template>
  <div>
    <!-- 또는 as="a" 속성가능 -->
    <template v-if="type !== 'a'">
      <Mbutton2 :disabled="disabled" @click="$emit('onclick')" v-if="img == undefined"><slot></slot></Mbutton2>
      <MbuttonIcon :disabled="disabled" @click="$emit('onclick')" :img="img" v-else><slot></slot></MbuttonIcon>
    </template>
    <template v-else>
      <Mlink :href="href" @click="$emit('onclick')" v-if="img == undefined"><slot></slot></Mlink>
      <MlinkIcon :href="href" @click="$emit('onclick')" :img="img" v-else><slot></slot></MlinkIcon>
    </template>
  </div>
</template>
<script>
import styled from 'vue-styled-components';
const types = {
  disabled : Boolean,
  img : String
};
const imgs = {
  confirm : '/img/icon_confirm_w.svg',
  list : '/img/btn_ic_compare.svg',
};
const Mbutton2 = styled('button', types)`
  display:inline-block;margin-right:10px;padding:0 15px;height:40px;line-height:40px;font-size:1.8rem;color:#fff;text-align:center;letter-spacing:-0.5px;border-radius:3.6rem;background-color:${props => props.disabled ? '#c0c0c0' : '#3e588d'};
`;
const MbuttonIcon = styled(Mbutton2)`
  padding-left:30px;background-repeat:no-repeat;background-position: 10px 50%;background-size:16px auto;background-image : url('${props => imgs[props.img]}');
`;
const Mlink = Mbutton2.withComponent('a');
const MlinkIcon = styled(Mbutton2.withComponent('a'))`
  padding-left:30px;background-repeat:no-repeat;background-position: 10px 50%;background-size:16px auto;background-image : url('${props => imgs[props.img]}');
`;
export default {
  props:{
    type : String,
    id : String,
    disabled : Boolean,
    onclick : [Function, Object],
    img : String,
    href : String,
    click : [Object]
  },
  components:{
    Mbutton2,
    MbuttonIcon,
    Mlink,
    MlinkIcon
  },
  methods : {

  }
}
</script>
<style scoped>
div{display:inline-block;}
</style>